<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="Stylesheet" type="text/css" href="/stylesheets/style.css" />
<title>graczA</title>
</head>
<body onload="scrollToBottom()">
<div id="wraper">
	<div id="board"></div>
 
	<div id="menuRight">
		<div id="sek1">
			<div id="markerRight_1" class="markerRight"></div>
			<div id="markerRight_2" class="marker2_0"></div>
			<div id="markerRight_6" class="markerRight"></div>
			<div id="markerRight_7" class="markerRight"></div>
			<div id="markerRight_8" class="markerRight"></div>
			<div id="markerRight_9" class="markerRight"></div>
		</div>
		<div id="sek2">
			<div id="windowRight_1" class="panelRight"><span>TWÓJ RUCH</span></div>  
			<div id="windowRight_2" class="panelRight"><p id="windowRight_2_p"></p></div>		
		   <div id="windowRight_3" class="windowRight_3_0"></div>	
			<div id="windowRight_4" class="panelRight"><span>RUCH JEDNOSTKI</span></div>				
			<div id="windowRight_6" class="panelRight"><span>ATAK NIEMOŻLIWY!</span></div>	
			<div id="windowRight_7" class="panelRight"><span>TO OKRĘT PRZECIWNIKA</span></div>		
			<div id="windowRight_8" class="panelRight"><span>NAMIERZANIE TWOJEGO OKRĘTU</span></div>		
			<div id="windowRight_9" class="panelRight"><span>STREFA ATAKU PRZECIWNIKA</span></div>
			<div id="windowRight_10" class="panelRight"><span>DZIAŁANIA WOJENNE</span></div>
			<div id="deployShips1" class="panelRight"><span>ROZMIEŚĆ OKRĘTY</span></div>
		</div>
	</div>
	
	<div id="menuLeft">
		<div id="sek3">
			<div id="markerLeft_1" class="markerLeft"></div>
			<div id="markerLeft_2" class="markerLeft"></div>
			<div id="markerLeft_3" class="markerLeft"></div>
			<div id="markerLeft_4" class="markerLeft"></div>
			<div id="markerLeft_5" class="markerLeft"></div>
		</div>
	   <div id="sek4">
			<div id="windowLeft_1" class="panelLeft"><span>RUCH PRZECIWNIKA</span></div>
			<div id="windowLeft_2" class="panelLeft"><p></p></div>

					<div id="moveMark_up" class="moveMark_black"></div>
					<div id="moveMark_left" class="moveMark_black"></div>
					<div id="moveMark_dot" class="moveMark_black"></div>
					<div id="moveMark_right" class="moveMark_black"></div>
					<div id="moveMark_down" class="moveMark_black"></div>

			<div id="windowLeft_3" class="panelLeft"><span>BRAK DRUGIGO GRACZA</span></div>			
			<div id="windowLeft_4" class="panelLeft"><span>DRUGI GRACZ AKTYWNY</span></div>		
			<div id="windowLeft_5" class="panelLeft"><span>PRZECIWIK GOTOWY</span></div>			
			<div id="windowLeft_6" class="panelLeft"><span>STREFA PRZECIWNIKA</span></div>
			<div id="powrot" class="panelLeft"><span>POWRÓT DO STRONY GŁÓWNEJ</span></div>
		</div>
	</div>

	<script src="/scripts/model.js"></script>
	<script src="/scripts/view.js"></script>
	<script src="/scripts/controller.js"></script>
	<script src="socket.io-client/dist/socket.io.js"></script>
	<script src="/scripts/websocketclient.js"></script>
		<form id="mes">
			<h2>CZY CHCESZ ATAKOWAĆ?</h2>
			  <input type="button" id="yesButton1" value="TAK" >
			  <input type="button" id="noButton2" value="NIE">
		</form>
		<form id="neutralZone"><h2>OKRĘT PRZECIWNIKA JEST W STREFIE NEUTRALNEJ</h2></form>		
		<form id="shipAttacked"><h2>TWÓJ OKRTĘT ZOSTRAŁ ZAATAKOWANY!</h2></form>			
		<form id="shipDefended"><h2>TWÓJ OKRĘT OBRONIŁ SIĘ I ZATOPIŁ PRZECIWNIKA!</h2></form>
	  <form id="win">
			<h2>WYGRANA! <br /> OKRĘT PRZECIWNIKA ZATOPIONY <br /> CZY CHCESZ PRZEJĄĆ JEGO POLE?</h2>
			  <input type="button" id="yesButton3" value="TAK" >
			  <input type="button" id="noButton4" value="NIE">
		</form>
	     <form id="lose">
	     		<h2>WALKA PRZEGRANA<br /> TRACISZ OKRĘT</h2>
	   </form>
	   <form id="loseNameName">
	     		<h2>WALKA WYRÓWNANA<br /> TWÓJ OKRĘT ZATOPIONY - PRZECIWNIKA OKRĘT ZATOPIONY </h2>     		      
	   </form>
	     <form id="endGame1">
	     <h2> PORAŻKA!<br />TWÓJ OKRĘT DESANTOWY ZOSTAŁ ZATOPIONY</h2>
	     <input type="button" id="ok1" value="Powrót do strony głównej" onclick="changePage()" class="inpOk">
	   </form>
	   <form id="endGame2">
	     <h2> ZWYCIĘSTWO! <br />OKRĘT DESANTOWY PRZECIWNIKA ZATOPIONY</h2>
	     <input type="button" id="ok2" value="Powrót do strony głównej" onclick="changePage()" class="inpOk">
	   </form>
	   <form id="endGame3">
	     <h2> ZWYCIĘSTWO! <br />TWÓJ OKRĘT DESANTOWY WPŁYNĄŁ DO PORTU PRZCIWNIKA</h2>
	     <input type="button" id="ok3" value="Powrót do strony głównej" onclick="changePage()" class="inpOk2">
	   </form>
	    <form id="endGame4">
	     <h2>PORAŻKA!<br />OKRĘT DESANTOWY PRZECIWNIKA WPŁYNĄŁ DO TWOJEGO PORTU</h2>
	     <input type="button" id="ok4" value="Powrót do strony głównej" onclick="changePage()"class="inpOk2">
	   </form>
		<form id="waiting"><span>OCZEKIWANIE NA DRUGIEGO GRACZA...</span></form>
		<form id="returnToMainPage"><span>POWRÓT DO STRONY GŁÓWNEJ SPOWODUJE SKASOWANIE AKTUALNEJ ROZGRYWKI! ZAKOŃCZYĆ GRĘ?</span>
			  <input type="button" id="returnButton" value="TAK" >
			  <input type="button" id="stayButton" value="NIE">
		</form>
		<form id="returnToMainPage_message"><span>PRZECIWNIK WYSZEDŁ Z GRY.<br /> USTAWIENIA OKRĘTÓW SĄ JUŻ NIEAKTUALNE</span>
			  <input type="button" id="returnButton_message" value="POWRÓT DO STRONY GŁÓWNEJ">
		</form>  
</div>
</body>
</html>