body {
	background-color: black;
	//font-size: 10px;
}

div#wraper {
	position: absolute;
	width: 100%;
	height: 100%;
}	

div#board {
	position: relative;
	width: 72%;
	height: 100%; 
	left: 13.5%;
	right: 12.5%;	
}

img {
	width: 100%;
	bottom: 0%;
}
table {;
   position:absolute;
	width: 100%;
	left: 2px;
	top: 20px;
	border: 1px;
}
td {
	position:relative;
	overflow:visible;
	height: 4.05em;
	width: 5.01em;
	border-spacing: 0px;
	padding-top: 3px;
	padding-bottom: 3px;		
}
div#menuRight{
	position: fixed;
	float:right;
	width: 11.4%;
	height: 95%;
	right: 0%;
	bottom: 3%;
	display:block;
   clear:both;
}

div#sek1{
	position: absolute;
	width: 6%;
	height: 100%;
	float: left;
	padding-right: 0.5em;
	top: 0%;
}

div#sek2{
	position: absolute;
	width: 93%;
	height: 100%;
	right: 0%;
	top: 0%; 
   font-size: 0.8em;
   font-family: Sans, Arial, Verdana;
   text-align:left;
	line-height: 100%;
}
.panelRight {
	 position: absolute;
	 width: 100%;
	 height: 2em;
    overflow:hidden; 
    background-color: #4d4d4d;
    color: #696969;
    border: 2px solid;
	 border-color: #505050;
	 border-style:groove;
	 padding-left: 0.4em;
}

.panelRight_anim {
	 position: absolute;
	 width: 100%;
	 height: 2em;
    overflow:hidden; 
    background-color: #4d4d4d;
    color: #696969;
	 padding-left: 0.4em;
	 animation-name: dep;
	 animation-duration: 3s;
    animation-iteration-count: 3;
}

.markerRight {
	 position: absolute;
	 height: 28px;
	 width: 28px;
	 right: 0.8em;
	 color: yellow; 
    background: url("/Images/marker.png") no-repeat;
}

#markerRight_1{
	bottom: 0px;
}
#windowRight_1{
   line-height: 2em;
	bottom: 0px;
}

span {
  //margin-top: 1px;
  //margin-left: 0.4em;
  
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 0.9em;
}

#markerRight_2 {
	position: absolute;
	height: 30px;
	width: 30px;
	right: 0.5em;
	bottom: 3.8em;
	color: yellow;
}

.marker2_0 {
	background: url("/Images/marker3.png") no-repeat;
}
.marker2_1 {
	background: url("/Images/marker3_1.png") no-repeat;
}
.marker2_2 {
	background: url("/Images/marker3_2.png") no-repeat; 
}
.marker2_3 {
	background: url("/Images/marker3_3.png") no-repeat;
}
.marker2_4 {
	background: url("/Images/marker3_4.png") no-repeat;
}

#windowRight_2 {
	bottom: 5em;
}

#windowRight_2 p{
	margin-top: 0.5em;
	margin-left: 0.2em;
	color: yellow;
}

#windowRight_3 {
	 position: absolute;
	 width: 100%;
	 height: 3em;
	 right: 0px;
	 bottom: 7em;
	 background-size:contain;
}

.windowRight_3_0 {
	background: url("/Images/unitMove.png") no-repeat;
}
.windowRight_3_1 {
	background: url("/Images/unitMove_1.png") no-repeat;
}
.windowRight_3_2 {
	background: url("/Images/unitMove_2.png") no-repeat;
	
}
.windowRight_3_3 {
	background: url("/Images/unitMove_3.png") no-repeat;
}
.windowRight_3_4 {
	background: url("/Images/unitMove_4.png") no-repeat;
}

#windowRight_4 {
	height: 2.5em;
  	line-height: 2.5em;	
	bottom: 11em;
	color: black;	
}

#markerRight_6 {
	bottom: 17.6em;
}
#windowRight_6 {
	height: 2.5em;
	line-height: 2.5em;	
	bottom: 22em;
}

#markerRight_7 {
	bottom: 20.2em;
}
#windowRight_7 {
	height: 2.5em;
	line-height: 2.5em;	
	bottom: 25.3em;
}

#markerRight_8 {
	bottom: 23em;
}
#windowRight_8 {
	height: 2.5em;
	line-height: 2.5em;	
	bottom: 28.6em;
}

#markerRight_9 {
	bottom: 25.6em;
}
#windowRight_9 {
	height: 2.5em;
	line-height: 2.5em;	
	bottom: 31.9em;
}

#windowRight_10 {
	height: 2.5em;
	line-height: 2.5em;	
	bottom: 35.2em;
	color: black;
}
#deployShips2{
	height: 3em;
	line-height: 3em;
	top: 2em;
	color:yellow; 
	font-size: 90%;
	cursor: pointer; 
	cursor: hand;
	animation-name: dep;
   animation-duration: 2s;
   animation-iteration-count: 3;
}

@keyframes dep {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

div#menuLeft{
	position: fixed;
	//float: left;
	left: 0em;
	width: 11%;
	height: 95%;
	right: 0%;
	bottom: 3%;
	display:block;
   clear:both;
}

div#sek3{
	position: absolute;
	width: 11%;
	height: 100%;
	left: 90%;
	padding-right: 0.5em;
	bottom: 0%;	
}

div#sek4{
	position: absolute;
	width: 85%;
	height: 100%;
	float: left;
	bottom: 0em; 
   font-size: 0.8em;
   font-family: Sans, Arial, Verdana;
	line-height: 100%;
}
.panelLeft {
	 position: absolute;
	 width: 97%;
    height: 2.8em;  
    overflow:hidden;
    text-align:right;    
    left: 0px;
    background-color: #4d4d4d;
    color: #696969;
    border: 2px solid;
	 border-color: #505050;
	 border-style:groove;
	 padding-right: 0.5em;
}

.panelLeft_anim {
	 position: absolute;
	 width: 97%;
    height: 2.8em;  
    overflow:hidden;
    text-align:right;    
    left: 0px;
    background-color: #4d4d4d;
    color: #696969;
	 padding-right: 0.5em;
 	 animation-name: dep;
	 animation-duration: 3s;
    animation-iteration-count: 3;
}

.markerLeft {
	 position: absolute;
    left: 0.5em;    
    width: 28px;
    height: 28px;
    background: url("/Images/marker2.png") no-repeat;
    background-color: cyjan;
}

#markerLeft_1{
	bottom: 0px;
}
#windowLeft_1 {
	line-height: 2.8em;
	bottom: 0em;
}
#windowLeft_1 p {
	//margin-top: 7px;
}
#markerLeft_2{
	bottom: 4.5em; 
}
#windowLeft_2 {
   bottom: 5em;
   color: yellow;
}

#moveMark_up {
	bottom: 18em;
	left: 40%;
	background: url("/Images/moveMark_up.png") no-repeat;
	background-size:contain;
}
#moveMark_left {
	bottom: 14em;
	left: 0%;
	background: url("/Images/moveMark_left.png") no-repeat;
	background-size:contain;
}
#moveMark_dot {
	bottom: 14em;
	left: 40%;
	background: url("/Images/moveMark_dot.png") no-repeat;
	background-size:contain;
}
#moveMark_right {
	bottom: 14em;
	left: 80%;
	background: url("/Images/moveMark_right.png") no-repeat;
	background-size:contain;
}
#moveMark_down {
	bottom: 10em;
	left: 40%;
	background: url("/Images/moveMark_down.png") no-repeat;
	background-size:contain;
}

.moveMark_black {
	position: absolute;
	height: 2.3em;
	width: 2.3em;
	background-color: black;
}

#markerLeft_3{
	bottom: 21em; 
}
#windowLeft_3 {
	line-height: 2.8em;
   bottom: 330px;
}

#markerLeft_4{
	bottom: 24em; 
}
#windowLeft_4 {
	line-height: 2.8em;
   bottom: 380px;
}

#markerLeft_5{
	bottom: 27em; 
	background: url("/Images/marker.png") no-repeat;
}
#windowLeft_5 {
	line-height: 2.8em;
   bottom: 430px;
}

#windowLeft_6 {
	line-height: 2.8em;
   bottom: 480px;;
}

#powrot{
	height: 3.4em;
	line-height: 3.4em;
	top: 2em;
	color:yellow; 
	font-size: 90%;
	cursor: pointer; 
	cursor: hand;
	text-align: center;
}

.move {
background-color: #ffe6cc;;
}

form {
	display: none;
	position: fixed;
	left:50%;
	top: 50%;	
	margin: auto;
	width: 450px;
	height: 150px;
	margin-left:-250px;
	margin-top: -75px;
	color: yellow;
	background-color: #4d4d4d;
	border: 10px solid;
	border-color: #696969;
	border-style:groove;
}
h2,h3,h4 {
	text-align: center;
}
form input {
	position: relative;
	width: 80px;
	margin-left: 50px;
	margin-bottom: 30px;
	padding: 5px;
}

.message {
	display: inherit; 
}
.hidemessage {
	display: none;
}
#mes {
	height: 120px;
	margin-top: -60px;
	width: 350px;
 	margin-left:-175px;
}

#shipAttacked {
	height: 6em;
}
#shipDefended {
	height: 6em;
}
#win {
	height: 11em;
	margin-top: -11em;
}

#yesButton1{
   margin-left: 63px;
}
#noButton2{
   margin-left: 63px;
}
#yesButton3 {
	margin-left: 96px;
}
#noButton4 {
	margin-left: 96px;
}

#lose {
 	width: 300px;
 	height: 100px;
 	margin-left:-155px;
 	animation-name: dep;
	animation-duration: 3s;
   animation-iteration-count: 1;
}

#loseNameName {
 	width: 800px;
 	height: 100px;
 	margin-left:-400px;
 	animation-name: dep;
	animation-duration: 3s;
   animation-iteration-count: 1;
}

#okButton {
	margin-left: 80px;
}

#okButton2 {
	margin-left: 200px;
}
#win2 {
	width: 400px;
}
#okButtonWin {
  margin-left: 160px;
}

.inpOk {
	width: 160px;
	margin-left: 140px;
}

.inpOk2 {
 	width: 160px;
	margin-left: 210px;
}

#endGame3 {
	width: 580px;
 	margin-left:-290px;
}
#endGame4 {
	width: 620px;
 	margin-left:-310px;
}
#returnToMainPage {
	width: 30em;
	height: 4.3em;
 	margin-left:-15em;
 	font-size: 1.5em;
 	text-align: center;
 	padding-top: 1em;
 	padding-bottom: 1em;
 	font-size: 130%;
	display: none;
}

#returnButton {
	margin-top: 1em;
	margin-left: 0em;
}

#returnToMainPage_message {
	width: 31em;
	height: 5em;
 	margin-left:-15em;
 	font-size: 1.5em;
 	text-align: center;
 	padding-top: 1em;
 	padding-bottom: 1em;
 	font-size: 130%;
	display: none;
}

#returnToMainPage_message input {
	width: 20em;
	margin-top: 1em;
}

#input {
	position: relative;
   bottom: 10px;
   right: 10px;
	border : 1px solid black;
	padding : 2px;
	display : block;
	width : 150px;
}

#response {
	height : 100px;
	position: absolute;
   bottom: 30px;
   right: 10px;
	border : 1px solid black;
	padding : 2px;
	display : block;
	width : 150px;
}

.pancernikA  {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
}
.rakietowyA {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
}
.krazawnikA {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;		
}
.niszczycielA {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
}
.podwodnyA {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
}
.eskortowiecA  {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
}
.tralowiecA {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;	
}
.desantowyA {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;
}
.bateriaA {
	background: url("/Images/graczA/bateriaA.png") bottom center no-repeat;
}
.minaA  {
	background: url("/Images/graczA/shipA.png") bottom center no-repeat;
}
.desantowyA_endGame {
	background: url("/Images/graczA/desantowy.png") bottom center no-repeat;
}

.pancernikB  {
	background: url("/Images/graczB/pancernik.png") bottom center no-repeat;	
}
.rakietowyB {
	background: url("/Images/graczB/rakietowy.png") bottom center no-repeat;
}
.krazawnikB {
	background: url("/Images/graczB/krazawnik.png") bottom center no-repeat;
}
.niszczycielB {
	background: url("/Images/graczB/niszczyciel.png") bottom center no-repeat;
}
.podwodnyB {
	background: url("/Images/graczB/podwodny.png") bottom center no-repeat;
}
.eskortowiecB  {
	background: url("/Images/graczB/eskortowiec.png") bottom center no-repeat;
}
.tralowiecB {
	background: url("/Images/graczB/tralowiec.png") bottom center no-repeat;
}
.desantowyB {
	background: url("/Images/graczB/desantowy.png") bottom center no-repeat;
}
.bateriaB {
	background: url("/Images/graczB/bateria.png") bottom center no-repeat;
}
.minaB  {
	background: url("/Images/graczB/mina.png") bottom center no-repeat;
}