<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="Stylesheet" type="text/css" href="/stylesheets/style_0.css" />
<title></title>
</head>
<body>
<div id="board" class="centerBack">
	<div id="header" class="centerBack"></div>
	<div id="menu" class="centerBack">	    
		    <input type="button" id="graj" class="buttons"></input>
		    <a href="instrukcja"><input type="button" id="instrukcja" class="buttons"> </input></a>	
	</div>
	<form id="test"><h4>ABY PRZETESTOWAĆ OTWÓRZ GRĘ W DWÓCH OKNACH PRZEGLĄDARKI</h4></form>
</div>
<script src="/scripts/websocketclient_start.js"></script>
<script src="/socket.io-client/dist/socket.io.js"></script>
</body>
</html>